body{
    font-family: 'Bahnschrift';
}

.navbtn:hover{
    text-decoration:underline;
    color: rgba(0, 0, 0, 0.432);
}

.colorBg{
    height: 150px;
    width: 100%;
    background-color: #1c82d1;
}

.logoSize{
    height: 250px;
}

.logoPng{
    height: 45px;
    width: 45px;
}

.imgSize{
    height: 50px;
    width: 50px;
}

a{
    text-decoration: none;
    color: #000;
}

.mtModif{
    margin-top: 100px;
}

.mbModif{
    margin-bottom: 50px;
}

/* BOUTTON */
.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    line-height: 25px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect01 {
    color: #FFF;
    border: 4px solid #1c82d1;
    box-shadow:0px 0px 0px 1px #1c82d1 inset;
    background-color: #1c82d1;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
    border: 4px solid #1c82d1;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #fff inset;
  }
  
  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: #333;
  }
  
  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }



  /* SEARCHHHH */
  .box{
    position: absolute;
    top: 27%;
    left: 15%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: #1c82d1;
    border: 4px solid #463f57;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #fff;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: #2e86c9;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #463f57;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}


hr{
    size: 25px;
}
